#title.font1{{title}}
br
.row
  .col-xs-12
    img#photo1
br
.row
  .col-xs-12
    p.font2.text Mise en place literally means "set in place," and it refers to having all your ingredients prepped and ready to go before you start cooking. Onions are diced, spices are measured, broth has been portioned. And it's not a bad idea to have your pans and ladles laid out, too!
    p.font2.text Taking the time to do all of this upfront actually ends up saving you time in the long run. With everything laid out in front of you, you're more organized and efficient. Your whole cooking process becomes streamlined. You're far less likely to do something like accidentally adding the salt twice and you're not scrambling to find an ingredient in the back of the cupboard right when it's needed.
