h1 {{recipe.name}}
.row
  .col-xs-6
    h3 Difficulty:
    p {{recipe.difficulty}}
    h3 Time Required:
    p Prep: &nbsp {{recipe.prepTime}} &nbsp mins.
    p Cook: &nbsp{{recipe.cookTime}} &nbsp mins.
    h3 Servings:
    p {{recipe.numServings}}
  .col-xs-6
    img#photo(ng-src='{{recipe.photo}}')
.row
  .col-xs-6
    h3 Ingredients
    ul
      li(ng-repeat='i in recipe.ingredients track by $index') {{i}}
  .col-xs-6
    h3 Directions
    ol
      li(ng-repeat='d in recipe.directions track by $index') {{d}}
