div[mk-recipe]{
  border: 1px solid #85144B;
  font-family: monospace;
  display: inline-block;
  margin: 10px 10px 10px 0px;
  background-color: #FFFFFF;
  width: 300px;
  height: 400px;

  img{
    width: 100%;
  }
}
