h2 Recipes

input(type='text', ng-model='yRecipe')
button(ng-click='findRecipes()') Search Recipes

div(mk-recipe, ng-repeat='recipe in yRecipes', recipe='{{yRecipe}}')

.col-xs-9
  h4 My Recipes
  table.table.table-bordered.table-striped
    thead
      tr
        th Name &nbsp
          a(href='', ng-click='sortFood = "when"'): span.i.fa.fa-angle-down &nbsp
          a(href='', ng-click='sortFood = "-when"'): span.i.fa.fa-angle-up
        th Date Added &nbsp
          a(href='', ng-click='sortFood = "when"'): span.i.fa.fa-angle-down &nbsp
          a(href='', ng-click='sortFood = "-when"'): span.i.fa.fa-angle-up
        th Photo &nbsp
          a(href='', ng-click='sortFood = "when"'): span.i.fa.fa-angle-down &nbsp
          a(href='', ng-click='sortFood = "-when"'): span.i.fa.fa-angle-up
    tbody
      tr(ng-repeat='r in recipes')
        th {{r.name}}
        th {{r.dateAdded | date:'MMM dd, yyyy'}}
        th: img(ng-src='{{r.photo}}')
