h2 Recipes
.row
  .col-xs-6
    input(type='text', ng-model='yRecipe.name', placeholder='Yummly')
    button(ng-click='addYum()') Add Recipe
    button(ng-click='toggleyRecipe()') Show/Hide Recipes
  .col-xs-6
    button(ng-click='toggleRecipeForm()') Add Recipe
    button(ng-click='toggleRecipe()') Show/Hide Recipes

form(role='form', novalidate, ng-show='hideRecipeForm', name='recipeForm')
  .col-xs-4
    .form-group
      input.form-control#date(ng-model='recipe.dateAdded', type='hidden', name='date', required)
    .form-group
      label(for='name') Name
      input.form-control#name(ng-model='recipe.name', type='text', name='name', placeholder='Mashed Potatoes')
    .form-group
      label(for='ingredients') Ingredients
      input.form-control#ingredients(required, ng-model='recipe.ingredients', type='text', name='ingredients', placeholder='milk, flour, eggs')
    .form-group
      label(for='directions') Directions
      input.form-control#directions(required, ng-model='recipe.directions', type='text', name='directions', placeholder='clean, cook, enjoy')
    .form-group
      label(for='photo') Picture
      input.form-control#photo(required, ng-model='recipe.photo', type='text', name='photo', placeholder='http://examplepic.png')
  .col-xs-4
    .form-group
      label(for='prepTime') Prep Time Required(minutes)
      input.form-control#prepTime(required, ng-model='recipe.prepTime', type='number', name='prepTime', placeholder='10')
    .form-group
      label(for='cookTime') Cook Time Required(minutes)
      input.form-control#cookTime(required, ng-model='recipe.cookTime', type='number', name='cookTime', placeholder='20')
    .form-group
      label(for='description') Description
      textarea.form-control#description(required, ng-model='recipe.description', type='textarea', name='description', placeholder='Really Good!  Easy and has great flavor.')
    .form-group
      label(for='category') Category
      select.form-control#category(required, ng-model='recipe.category', type='dropdown', name='category')
        option(ng-repeat='c in recipeCategories') {{c}}
    .form-group
      label(for='tools') Tools Needed
      input.form-control#tools(required, ng-model='recipe.tools', type='text', name='tools', placeholder='knife, oven, food processor')
  .col-xs-4
    .form-group
      label(for='difficulty') Difficulty
      select.form-control#difficulty(required, ng-model='recipe.difficulty', type='dropdown', name='difficulty')
        option(ng-repeat='d in difficulties') {{d}}
    .form-group
      label(for='servings') Number of Servings
      input.form-control#servings(required, ng-model='recipe.numServings', type='number', name='servings', placeholder='2')
    .form-group
      label(for='tags') Tags
      textarea.form-control#tags(required, ng-model='recipe.tags', type='textarea', name='tags', placeholder='potatoes, cream, butter')
    .form-group
      label(for='notes') Notes
      textarea.form-control#notes(required, ng-model='recipe.notes', type='textarea', name='notes', placeholder='Don\'t over cook the potatoes!!')
      button(type='submit', ng-show='recipeForm.$valid', ng-click='addRecipe()') Add!
.row
  .col-xs-12
    div(mk-recipe, ng-repeat='yRecipe in yRecipes', title='{{yRecipe.name}}', ng-show='hideyRecipes')

.row
  .col-xs-9(ng-show='hideRecipes')
    h4 My Recipes
    table.table.table-bordered.table-striped
      thead
        tr
          th Name &nbsp
            a(href='', ng-click='sortFood = "when"'): span.i.fa.fa-angle-down &nbsp
            a(href='', ng-click='sortFood = "-when"'): span.i.fa.fa-angle-up
          th Date Added &nbsp
            a(href='', ng-click='sortFood = "when"'): span.i.fa.fa-angle-down &nbsp
            a(href='', ng-click='sortFood = "-when"'): span.i.fa.fa-angle-up
          th Photo &nbsp
            a(href='', ng-click='sortFood = "when"'): span.i.fa.fa-angle-down &nbsp
            a(href='', ng-click='sortFood = "-when"'): span.i.fa.fa-angle-up
      tbody
        tr(ng-repeat='r in recipes')
          th {{r.name}}
          th {{r.dateAdded | date:'MMM dd, yyyy'}}
          th: img(ng-src='{{r.photo}}')
