input{
  margin: 10px 5px 10px 10px;
}

button{
  margin: 10px 5px 10px 10px;
}

#recipes{
  border: 1px solid black;
  display: inline-block;
  margin: 5px 10px 5px 10px;
  height: 250px;
  width: 250px;
  background-size: cover;
  background-color: white;

  img{
    width: 100%;
  }
}

table{
  background-color: #ff7d53;
}
