h3 Profile

.row
  .col-xs-3
    form(role='form', novalidate, name='profileForm')
      .form-group
        label(for='username') Username
        input.form-control#username(type='username', name='username', ng-model='user.username', required)
      .form-group
        label(for='photo') Photo
        input.form-control#photo(type='photo', name='photo', ng-model='user.photo', required)
      button.btn.btn-primary(type='submit', ng-show='profileForm.$valid', ng-click='update()') Update Profile
  .col-xs-3
    {{user.username}}
    img(ng-src='{{user.photo}}')
